.complementCursor {
    position: fixed;
    top: 0;
    left: -100%;
    width: 22px;
    height: 22px;
    pointer-events: none;
    user-select: none;
    will-change: transform;
    z-index: 1;
}

.show {
    left: 25px;
    top: 30px;
}