.complementCursor {
    position: fixed;
    top: 0;
    left: -100%;
    width: min-content;
    height: min-content;
    pointer-events: none;
    user-select: none;
    will-change: transform;
}

.show {
    left: 25px;
    top: 30px;
}